/* base.css - основные стили */

@import url('components/icon-button.css');
@import url('components/action-button.css');
@import url('components/app-button.css');
@import url('components/text-button.css');
@import url('components/file-tree-view.css');
@import url('components/tab-pane.css');
@import url('components/tool-tip.css');
@import url('components/label.css');
@import url('components/separator.css');
@import url('icons/tonpad-icons.css');

/*@import url('themes/dark.css');*/


/* Стилизация фона для шапки приложения */
.title-bar {
    -fx-background-color: -color-main-background;
}

/* Стилизация фона для приложения */
.main-body {
    -fx-background-color: -color-main-background;
    -fx-background-radius: 10px;
}

/* Стилизация боковых панелей с основными функциями */
.side-panel {
    -fx-alignment: top-center;
    -fx-background-color: -color-side-panel;
}

/* Стилизация заглушки в верхней части боковой панели */
.side-panel-placeholder {
    -fx-background-color: -color-tools-panel;
}

/* Стилизация панели со вкладками для заметок */
.note-panel {
    -fx-background-color: -color-note-panel;
}


/* Стилизация панели с инструментами дерева файлов */
.file-tools-panel {
    -fx-alignment: top-center;
    -fx-background-color: -color-tools-panel;
}

/* Стилизация строки поиска */
.search-field {
    -fx-background-color: -color-search-field;
    -fx-text-fill: -color-main-text;
    -fx-prompt-text-fill: -color-main-prompt-text;
}

/* Стилизация панели с инструментами поиска */
.search-buttons-panel {
    -fx-alignment: top-right;
    -fx-background-color: -color-buttons-field;
}

/* Стилизация панели действий */
.actions-panel {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: -color-actions-panel;
}

/* Стилизация панели просмотра недавних хранилищ заметок */
.recent-vaults-list-view {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-background-color: -color-actions-panel;
}
