/* add-action-icons.css - иконки для операций добавления, светлая тема */

.file-add-icon {
    -fx-image: url(/ui/icons/light/file-add.png);
}

.folder-add-icon {
    -fx-image: url(/ui/icons/light/folder-add.png);
}

.collection-add-icon {
    -fx-image: url(/ui/icons/light/collection-add.png);
}