/* app-action-icons.css - иконки для заголовка приложения, светлая тема */

.close-app-icon {
    -fx-image: url(/ui/icons/light/close-app.png);
}

.resize-app-icon {
    -fx-image: url(/ui/icons/light/resize-app.png);
}

.collapse-app-icon {
    -fx-image: url(/ui/icons/light/collapse-app.png);
}