/* common-action-icons.css - иконки для общих операций, светлая тема */

.settings-icon {
    -fx-image: url(/ui/icons/light/settings.png);
}

.more-options-icon {
    -fx-image: url(/ui/icons/light/more-options.png);
}

.version-history-icon {
    -fx-image: url(/ui/icons/light/version-history.png);
}

.sort-down-icon {
    -fx-image: url(/ui/icons/light/sort-down.png);
}

.sort-up-icon {
    -fx-image: url(/ui/icons/light/sort-up.png);
}

.expand-icon {
    -fx-image: url(/ui/icons/light/expand.png);
<<<<<<< HEAD
}

.change-vault-icon {
    -fx-image: url(../icons/light/change-vault.png);
=======
>>>>>>> e527870f66efb4bc8a5c65f6eb89bcf897f199f7
}

.collapse-icon {
    -fx-image: url(/ui/icons/light/collapse.png);
}

.refresh-icon {
    -fx-image: url(/ui/icons/light/refresh.png);
}

.bookmark-icon {
    -fx-image: url(/ui/icons/light/bookmark.png);
}

.merge-icon {
    -fx-image: url(/ui/icons/light/merge.png);
}

.arrow-down-icon {
    -fx-image: url(/ui/icons/light/arrow-down.png);
}

.arrow-up-icon {
    -fx-image: url(/ui/icons/light/arrow-up.png);
}