/* entity-icons.css - иконки для сущностей, светлая тема */

.note-colored-icon {
    -fx-image: url(/ui/icons/common/note-colored.png);
}

.file-colored-icon {
    -fx-image: url(/ui/icons/common/file-colored.png);
}

.folder-colored-icon {
    -fx-image: url(/ui/icons/common/folder-colored.png);
}

.snippet-colored-icon {
    -fx-image: url(/ui/icons/common/snippet-colored.png);
}

.file-icon {
    -fx-image: url(/ui/icons/light/file.png);
}

.folder-icon {
    -fx-image: url(/ui/icons/light/folder.png);
}

.snippet-icon {
    -fx-image: url(/ui/icons/light/snippet.png);
}

.bookmarks-icon {
    -fx-image: url(/ui/icons/light/bookmarks.png);
}

.collection-icon {
    -fx-image: url(/ui/icons/light/collection.png);
}
