/* entity-icons.css - иконки для сущностей, светлая тема */

.file-icon {
    -fx-image: url(/ui/icons/light/file.png);
}

.folder-icon {
    -fx-image: url(/ui/icons/light/folder.png);
}

.bookmarks-icon {
    -fx-image: url(/ui/icons/light/bookmarks.png);
}

.collection-icon {
    -fx-image: url(/ui/icons/light/folder.png);
}
