/* file-action-icons.css - иконки для операций с файлами, светлая тема */

.remove-icon {
    -fx-image: url(/ui/icons/common/remove-red.png);
}

.rename-icon {
    -fx-image: url(/ui/icons/light/rename.png);
}

.copy-file-icon {
    -fx-image: url(/ui/icons/light/copy-file.png);
}

.cut-file-icon{
    -fx-image: url(/ui/icons/light/cut-file.png);
}

.paste-file-icon{
    -fx-image: url(/ui/icons/light/paste-file.png);
}

.copy-path-icon {
    -fx-image: url(/ui/icons/light/copy-path.png);
}

.move-file-icon {
    -fx-image: url(/ui/icons/light/move-file.png);
}
