/* search-icons.css - иконки для операций поиска, светлая тема */

.search-icon {
    -fx-image: url(/ui/icons/light/search.png);
}

.file-search-icon {
    -fx-image: url(/ui/icons/light/file-search.png);
}

.folder-search-icon {
    -fx-image: url(/ui/icons/light/folder-search.png);
}
