/* add-action-icons.css - иконки для операций добавления, тёмная тема */

.file-add-icon {
    -fx-image: url(/ui/icons/dark/file-add.png);
}

.folder-add-icon {
    -fx-image: url(/ui/icons/dark/folder-add.png);
}

.snippet-add-icon {
    -fx-image: url(/ui/icons/dark/snippet-add.png);
}

.collection-add-icon {
    -fx-image: url(/ui/icons/dark/collection-add.png);
}