/* common-action-icons.css - иконки для общих операций, тёмная тема */

.settings-icon {
    -fx-image: url(/ui/icons/dark/settings.png);
}

.more-options-icon {
    -fx-image: url(/ui/icons/dark/more-options.png);
}

.version-history-icon {
    -fx-image: url(/ui/icons/dark/version-history.png);
}

.sort-down-icon {
    -fx-image: url(/ui/icons/dark/sort-down.png);
}

.sort-up-icon {
    -fx-image: url(/ui/icons/dark/sort-up.png);
}

.expand-icon {
    -fx-image: url(/ui/icons/dark/expand.png);
<<<<<<< HEAD
}

.change-vault-icon {
    -fx-image: url(../icons/dark/change-vault.png);
=======
>>>>>>> e527870f66efb4bc8a5c65f6eb89bcf897f199f7
}

.collapse-icon {
    -fx-image: url(/ui/icons/dark/collapse.png);
}

.refresh-icon {
    -fx-image: url(/ui/icons/dark/refresh.png);
}

.bookmark-icon {
    -fx-image: url(/ui/icons/dark/bookmark.png);
}

.merge-icon {
    -fx-image: url(/ui/icons/dark/merge.png);
}

.arrow-down-icon {
    -fx-image: url(/ui/icons/dark/arrow-down.png);
}

.arrow-up-icon {
    -fx-image: url(/ui/icons/dark/arrow-up.png);
}