/* entity-icons.css - иконки для сущностей, тёмная тема */

.note-colored-icon {
    -fx-image: url(/ui/icons/common/note-colored.png);
}

.file-colored-icon {
    -fx-image: url(/ui/icons/common/file-colored.png);
}

.folder-colored-icon {
    -fx-image: url(/ui/icons/common/folder-colored.png);
}

.snippet-colored-icon {
    -fx-image: url(/ui/icons/common/snippet-colored.png);
}

.file-icon {
    -fx-image: url(/ui/icons/dark/file.png);
}

.folder-icon {
    -fx-image: url(/ui/icons/dark/folder.png);
}

.snippet-icon {
    -fx-image: url(/ui/icons/dark/snippet.png);
}

.bookmarks-icon {
    -fx-image: url(/ui/icons/dark/bookmarks.png);
}

.collection-icon {
    -fx-image: url(/ui/icons/dark/collection.png);
}
