/* entity-icons.css - иконки для сущностей, тёмная тема */

.file-icon {
    -fx-image: url(/ui/icons/dark/file.png);
}

.folder-icon {
    -fx-image: url(/ui/icons/dark/folder.png);
}

.bookmarks-icon {
    -fx-image: url(/ui/icons/dark/bookmarks.png);
}

.collection-icon {
    -fx-image: url(/ui/icons/dark/folder.png);
}
