/* file-action-icons.css - иконки для операций с файлами, тёмная тема */

.remove-icon {
    -fx-image: url(/ui/icons/common/remove-red.png);
}

.rename-icon {
    -fx-image: url(/ui/icons/dark/rename.png);
}

.copy-file-icon {
    -fx-image: url(/ui/icons/dark/copy-file.png);
}

.cut-file-icon{
    -fx-image: url(/ui/icons/dark/cut-file.png);
}

.paste-file-icon{
    -fx-image: url(/ui/icons/dark/paste-file.png);
}

.copy-path-icon {
    -fx-image: url(/ui/icons/dark/copy-path.png);
}

.move-file-icon {
    -fx-image: url(/ui/icons/dark/move-file.png);
}
