/* search-icons.css - иконки для операций поиска, тёмная тема */

.search-icon {
    -fx-image: url(/ui/icons/dark/search.png);
}

.file-search-icon {
    -fx-image: url(/ui/icons/dark/file-search.png);
}

.folder-search-icon {
    -fx-image: url(/ui/icons/dark/folder-search.png);
}
