/* view-icons.css - иконки для стилей просмотра, тёмная тема */

.reading-view-icon {
    -fx-image: url(/ui/icons/dark/reading-view.png);
}

.plain-view-icon {
    -fx-image: url(/ui/icons/dark/plain-view.png);
}