/* separator.css - стилизация разделителей */

.vertical-section-separator {
    -fx-background-color: transparent;
}

.vertical-section-separator .line {
    -fx-border-color: -color-separator;
    -fx-border-width: 0 1 0 0;
}

.horizontal-section-separator {
    -fx-background-color: transparent;
}

.horizontal-section-separator .line {
    -fx-border-color: -color-separator;
    -fx-border-width: 0 0 1 0;
}